*.o
*.lo
*.mod
*.a
*.la
*.pyc
.deps
.libs
config.log
config.status
stamp-h1
cmake_install.cmake
CMakeFiles
config.h
*.dylib
CMakeCache.txt
*.so
lib*.so.*
*.inc
htmldoc.out
pdfdoc.out
singlehtmldoc.out
_build
CTestTestfile.cmake
Testing
Makefile
[A-Z,a-c,e-z]*/Makefile
[A-Z,a-c,e-z]*/[A-Z,a-c,e-z]*/Makefile
